<div class="container">
    <h2>User Profile</h2>
    <div id="user-profile">
        <h6>{{navService.selectedProfile?.name}} {{navService.selectedProfile?.surname}}</h6>
        <h6>{{navService.selectedProfile?.email}}</h6>
        <h6>{{navService.selectedProfile?.phoneNumber}}</h6>
    </div>
    <h2>Assigned Books:</h2>
    <div id="selected-books">
    
        <div>
            <button  (click)="assignClick()">Assign</button>
            <button>Cancel</button>
        </div>
    </div>
</div>